.form-employee {
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  padding: 20px;
  background-color: white;
}

input,
select,
button {
  border-color: var(--main-color);
}

.container-form {
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.container-form h3 {
  text-align: center;
}

.btn-register {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-group-lg > .btn {
  width: 100%;
}

.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.form-switch .form-check-input {
  width: 3em;
}
.form-check-input {
  height: 1.5em;
}

.container-alert {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.container-alert.fade {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.alert-success {
  width: 400px;
  margin: 20px;
  border-color: var(--main-color);
}

.alert-danger {
  width: 400px;
  margin: 20px;
  border-color: var(--red);
}

.alert-required {
  color: var(--red);
}
