<app-sidebar></app-sidebar>
<app-user-nav-bar [menuName]="menuName"></app-user-nav-bar>
<div class="container-body mt-4">
  <div class="container-main mt-4">
    <div class="container-table">
      <div class="table-responsive mt-4">
        <div class="header-title-table">
          <h4 class="mt-4 mb-4 ms-2">Lista de Grãos</h4>
          <div>
            <i class="fa-solid fa-arrow-down-short-wide"></i
            ><span class="me-2">Ordernar</span
            ><i class="fa-solid fa-filter ms-1"></i>
            <span class="me-2">Filtrar</span>
          </div>
        </div>
        <div class="mat-elevation-z8">
          <i class="fa-solid fa-arrow-down-short-wide"></i
          ><span class="me-2">Ordernar</span
          ><i class="fa-solid fa-filter ms-1"></i>
          <span class="me-2">Filtrar</span>
        </div>
      </div>
      <div *ngIf="dataSource; else loading" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="grain">
            <th mat-header-cell *matHeaderCellDef>Grão</th>
            <td mat-cell *matCellDef="let element">
              <img
                class="img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaw4t8DM1Sen3UBSX6yUHK45TYF_yn1dXyNCS8A_cqaHgaS7FrlRKBzwJBwPXKHIJLoyU&usqp=CAU"
              />
              {{ element.grain }}
              <img
                class="img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaw4t8DM1Sen3UBSX6yUHK45TYF_yn1dXyNCS8A_cqaHgaS7FrlRKBzwJBwPXKHIJLoyU&usqp=CAU"
              />
              {{ element.name }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="plantedFarm">
            <th mat-header-cell *matHeaderCellDef>Fazenda plantada</th>
            <td mat-cell *matCellDef="let element">
              {{ element.plantedFarm }}
            </td>
            <td mat-cell *matCellDef="let element">
              {{ element.company.name }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="harvested">
            <th mat-header-cell *matHeaderCellDef>Colhido</th>
            <td mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-success">
                {{ element.harvested }}
                {{ element.averageHarvestTime }}
              </button>
            </td>
          </ng-container>

          <td></td>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="btn-include-grain">
          <button
            type="button"
            class="btn btn-success btn-lg me-5 mt-4 mb-4"
            routerLink="/grain/form"
          >
            +
          </button>
        </div>

        <mat-paginator
          class="paginator mb-4"
          [pageSizeOptions]="[5]"
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </div>

    <ng-template #loading>
      <div class="loading">
        <div
          class="spinner-border text-success"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>

    <div class="btn-include-grain">
      <button
        type="button"
        class="btn btn-success btn-lg me-5 mt-4 mb-4"
        routerLink="/grain/form"
      >
        +
      </button>
    </div>

    <mat-paginator
      class="paginator mb-4"
      [pageSizeOptions]="[5]"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>
