<section class="body-color">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white" style="border-radius: 0.5rem;">
          <div class="card-body p-4">

            <div class="pb-4 text-center">

              <img id="logo" src="./assets/img/logo.png" alt="">
              <h2 class="Poppins mb-5 text-center">Dev-Agro</h2>
              <p class="mb-0 mb-4 text-center">Entre com seu login e senha</p>

              <form class="row g-3 needs-validation" (ngSubmit)="submit()" [formGroup]="loginFormGroup"
                #formDir="ngForm" [ngClass]="{'was-validated' : loginFormGroup.invalid && formDir.submitted}">

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">EMAIL</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email"
                    formControlName="email" required />
                  <div *ngIf="email.invalid && formDir.submitted">
                    <small *ngIf="email.errors?.['required']">É necessário informar um e-mail.
                    </small>
                    <small *ngIf="email.errors?.['email']">O e-mail informado é inválido. </small>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <div class="box-senha">
                    <label class="form-label" for="typePasswordX">SENHA</label>
                  </div>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Senha"
                    formControlName="password" required />
                  <div *ngIf="password.invalid && formDir.submitted">
                    <p *ngIf="password.errors?.['required']">É necessário informar uma senha.</p>
                  </div>
                </div>
                <button class="btn btn-outline-light btn-lg" type="submit">Log in</button>

                <div *ngIf="!loginSuccessful && formDir.submitted" class="alert alert-danger" role="alert">
                  <small>O usuário e/ou senha informado é inválido.</small>
                </div>
              </form>

              <br>

              <!--O evento de clique de forgotPassword precisou ser colocado para fora do formulário, pois como formulário é reativo,
              por algum motivo (acredito ser um bug do angular) ele está chamando o evento de submit junto com o evento de click.-->
              <p class="small mb-1 pb-lg-2"><button (click)="forgotPassword()" class="link">Esqueceu a
                  senha?</button>
              </p>

            </div>

            <div class="botton-link">
              <p class="mb-0 text-center">Sua empresa não possui conta?</p>
              <a routerLink="../signin" class="link text-center text-underline-hover">Crie agora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
