table {
  width: 100%;
}

.img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 45px;
  border-radius: 50%;
}

.tableMaterial {
  color: #9fa2b4;
  height: auto;
}

.btn-include-grain {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
}

.btn-include-grain > button {
  background-color: var(--main-color);
  border-radius: 50%;
}

.paginator {
  margin-right: 4rem;
  color: #9fa2b4;
}

#buttonsTable {
  border-radius: 50px;
}

::ng-deep .mat-paginator-page-size {
  opacity: 0;
}

::ng-deep .mat-icon-button {
  background-color: white;
}

::ng-deep tbody {
  border: #dfe0eb;
}

::ng-deep td.mat-cell:first-of-type {
  display: flex;
  flex-direction: row;
}

.infoUser {
  margin-left: 2rem;
  margin-top: 1rem;
}

.infoUser p {
  color: #0e1d8e;
}

.farmUser p {
  color: #0e1d8e;
}
