.btn {
  width: 100%;
  font-size: 20px;
  box-shadow: 0px 4px 12px var(--box-shadow);
}


.btn:hover {
  background-color: var(--hover-main-color);
  color: var(--white);
}

.btn-div {
  width: 100%;
}
