<input type="checkbox" id="open-sidebar" />
<label for="open-sidebar" id="open-sidebar-label"></label>

<div class="sidebar principal-bg">
  <nav>
    <ul class="sidebar-nav">
      <li class="py-2" #homeItem>
        <a [routerLink]="['/home']">
          <span class="mx-3"><i class="fa-solid fa-house"></i></span>Inicio
        </a>
      </li>
      <li class="py-2" #employeeItem>
        <a [routerLink]="['/employee/list']">
          <span class="mx-3"><i class="fa-solid fa-users"></i></span>Funcionários
        </a>
      </li>
      <li class="py-2" #farmItem>
        <a [routerLink]="['/farm/list']">
          <span class="mx-3"><i class="fa-solid fa-tractor"></i></span>Fazendas
        </a>
      </li>
      <li class="py-2" #grainItem>
        <a [routerLink]="['/grain/list']">
          <span class="mx-3"><i class="fa-solid fa-wheat-awn"></i></span>Grãos
        </a>
      </li>
    </ul>
  </nav>


  <div class="logout">
    <ul class="sidebar-nav">
      <li class="py-2" #logout>
        <a (click)="logoutUser()">
          <span class="mx-3"><i class="fa-solid fa-right-from-bracket"></i></span>Sair
        </a>
      </li>
    </ul>
  </div>
</div>
