:root {
  margin: 0;
  padding: 0;
  --main-color: #375f24;
  --hover-main-color: #02600a;
  --white: #fff;
  --bg-gray-color: #dfe0eb;
  --text-blue-color: #0e1d8e;
  --red: #f12b2c;
  --light-green-color: #29cc97;
  --dark-gray: #4b506d;
  --light-gray: #c5c7cd;
  --box-shadow: rgba(55, 81, 255, 0.24);
  --logo: url("assets/img/logo.png");
}

.principal-bg {
  background-color: var(--main-color);
  color: var(--white);
}

* {
  font-family: "Poppins", sans-serif;
}

.company-form {
  color: var(--hover-main-color);
}

.logo-dih-forms {
  background-image: var(--logo);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40%;
  height: 90px;
  margin: 10px;
}

body {
  background-color: var(--bg-gray-color);
}
