.body-home {
  height: 100vh;
  background-color: var(--bg-gray-color);
  align-items: center;
}

.navHome {
  margin-left: 1rem;
  background-color: var(--bg-gray-color);
}

.container-body-home {
  margin-left: 12vw;
}

.amount-farms {
  color: var(--main-color);
  width: 20%;
}

.card-body {
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.card-body > p {
  font-size: 2rem;
  font-weight: bold;
}

.card-body > h6 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1rem;
}

.amount-employees {
  width: 20%;
}

.two-panels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 94%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card-body-amount-farms {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.card-body-graphic {
  border: 1px solid var(--main-color);
}

.table-farms {
  width: 38%;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-right: 2%;
}

.graph-grains {
  width: 30%;
}

.two-panels-last {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

::ng-deep .container-table {
  background-color: white;
  border-radius: 5px;
}

.col-farm,
.data-col-farm {
  text-align: left;
}

.col-prevision,
.data-col-prevision {
  text-align: right;
}

.table tr > td {
  color: var(--text-blue-color);
  font-weight: bold;
}

.table-farms > .card {
  border: none;
}

.container-table > h6 {
  font-weight: bolder;
}

.data-col-prevision > i {
  font-size: 1.5rem;
}

@media (max-width: 1250px) {
  .two-panels {
    justify-content: space-evenly;
  }

  .two-panels-last {
    justify-content: space-evenly;
  }
}
