<div class="container-main">
  <div class="container-userNavBar">
    <nav class="userNavBar">
      <div class="menu-name ms-4">
        <h4>{{ menuName }}</h4>
      </div>
      <div class="userInfo me-5">
        <p class="ms-2">{{ getCompanyName() }}</p>
        <img
          class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaw4t8DM1Sen3UBSX6yUHK45TYF_yn1dXyNCS8A_cqaHgaS7FrlRKBzwJBwPXKHIJLoyU&usqp=CAU"
        />
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
