.body-color {
  /* fallback for old browsers */
  background-color: var(--main-color);
  min-height: 100vh;
}

#logo {
  width: 20rem;
  margin-bottom: 12%;
  margin-top: 5%;
}

.card {
  padding-left: 4%;
  padding-right: 4%;
}

.card-body {
  color: var(--main-color);
}

.form-control {
  border-color: var(--hover-main-color);
  border-width: 1px;
  border-radius: 7px;
}

.form-control::placeholder {
  color: var(--light-gray);
  font-size: 1.1rem;

}

.btn {
  background-color: var(--main-color);
  width: 100%;
  height: 57px;
  border-radius: 10px;
  font-size: 1rem;
}

.mb-0 {
  color: var(--light-gray);
}

.box-senha {
  display: flex;
  justify-content: space-between;
}

.form-label {
  display: flex;

  font-family: "Poppins", sans-serif;
}

.botton-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  color: var(--main-color);
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}
